@page "/"

@inject IJSRuntime JSRuntime;

@using Microsoft.AspNetCore.Components.Web

<div @onkeydown="@KeyDown" tabindex="0" @ref="myDiv" class="main-container">

        <h1>Hangman</h1>
        <p>Find the hidden word - Enter a letter</p>
        <div class="game-container">
            <svg height="250" width="200" class="figure-container">
                <!-- Rod -->
                <line x1="60" y1="20" x2="140" y2="20" />
                <line x1="140" y1="20" x2="140" y2="50" />
                <line x1="60" y1="20" x2="60" y2="230" />
                <line x1="20" y1="230" x2="100" y2="230" />
                @if (!string.IsNullOrEmpty(badGuess))
                {
                    <!-- Head -->
                    <circle cx="140" cy="70" r="20" class="@SetBodyState(1)" />
                    <!-- Body -->
                    <line x1="140" y1="90" x2="140" y2="150" class="@SetBodyState(2)" />
                    //Arms
                    <line x1="140" y1="120" x2="120" y2="100" class="@SetBodyState(3)" />
                    <line x1="140" y1="120" x2="160" y2="100" class="@SetBodyState(4)" />
                    //Legs
                    <line x1="140" y1="150" x2="120" y2="180" class="@SetBodyState(5)" />
                    <line x1="140" y1="150" x2="160" y2="180" class="@SetBodyState(6)" />
                }
            </svg>

            <div class="wrong-letters-container">
                <p>Wrong :</p>
                <div id="wrong-letters">@badGuess</div>
            </div>

            <div class="word" id="word">
                @if (string.IsNullOrWhiteSpace(guess))
                {
                    @foreach (char c in word)
                    {
                        <span class="letter">
                        </span>
                    }
                }
                else
                {
                    @foreach (char c in guess)
                    {
                        <span class="letter">
                            @c
                        </span>
                    }
                }
            </div>


            <!-- Container for final message -->
            <div class="popup-container @lostStyle @poplostStyle" id="popup-container">
                <div class="popup">
                    <h2 id="final-message">@popMessage</h2><br/>
                    <h3 id="final-message-reveal-word">...the word was: @finalWord</h3><br />
                    <button id="play-button" @onclick="GameReset">Play Again</button>
                </div>
            </div>
        </div>

    <!-- Notification -->
    <div class="notification-container @notificationState" id="notification-container">
        <p>You have already entered this letter</p>
    </div>
</div>


